*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html{
    /* 1rem = 1au */
    font-size: 50px;
}

body{
    font-family: 'VT323', monospace;
    overflow: hidden;
}

/* utilities */
.flex{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

/* HEADER */
header{
    background-color: rgba(0,0,0, .4);
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1;
    color: white;
    font-size: 20px;
    padding: 30px;
    display: flex;
    justify-content: space-between;
}

header .left{
    width: 30%;
}

.bar{    
    width: 300px;
    height: 2px;
    background-color: #fff;
    position: relative;
}

.marker{
    position: absolute;
    top: 0;
    left: 30%;
    width: 6px;
    height: 10px;
    background-color: #000;
    border: 1px solid white;
    transform: translate(-50%, -50%);
    cursor: pointer;
}

.restart{
    text-align: center;
    margin-top: 20px;
    
}

.restart span{
    background-color: white;
    color: black;
    padding: 5px 8px;
    cursor: pointer;
}

.restart span:active{
    position: relative;
    top: 2px;
}

header .right{
    justify-content: flex-end;
}

header .right .options {
    text-align: left;
    display: flex;
    flex-direction: column;
}

header .input{
    color: black;
}

/* SOLAR SYSTEM */

.solar-system{
    width: 100%;
    height: 100vh;
    background: radial-gradient(#222, black);
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.sun{
    width: 15px;
    height: 15px;
    background-color: yellow;
    border-radius: 50%;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    transform: translate(50%, 50%);
}

.sun > *{
    width: 2px;
    height: 2px;
    border-radius: 50%;
    position: absolute;
    border-width: 1px 1px 0 0;
    border-style: solid;
    border-color: white transparent transparent transparent;
}

.planet{
    width: 5px;
    height: 5px;
    border-radius: 50%;
    position: absolute;
    left: 85.15%;
    top: 14.35%;
    background-color: white;
}

.mercury{
    width: .39rem;
    height: .39rem;
    animation: orbit .88s linear infinite;
}

.venus{
    width: .72rem;
    height: .72rem;
    animation: orbit 2.25s linear infinite;
}

.earth{
    width: 1rem;
    height: 1rem;
    animation: orbit 3.65s linear infinite;
}

.mars{
    width: 1.52rem;
    height: 1.52rem;
    animation: orbit 6.87s linear infinite;
}

.jupiter{
    width: 5.20rem;
    height: 5.20rem;
    animation: orbit 43.3s linear infinite;
}

.saturn{
    width: 9.55rem;
    height: 9.55rem;
    animation: orbit 100.76s linear infinite;
}

.uranus{
    width: 19.22rem;
    height: 19.22rem;
    animation: orbit 300s linear infinite;
}

.neptune{
    width: 30.06rem;
    height: 30.06rem;
    animation: orbit 600s linear infinite;
}

.mercury .planet{
    background-color: #1a1a1a;
}

.venus .planet{
    background-color: #e6e6e6;
}

.earth .planet{
    background-color: aqua;    
}
.mars .planet{
    background-color: #993d00;
}

.jupiter .planet{
    width: 10px;
    height: 10px;
    background-color: #b07f35;
}

.saturn .planet{
    width: 8px;
    height: 8px;
    background-color: #b08f36;
    position: relative;
}

.saturn .planet .rings{
    width: 16px;
    height: 16px;
    border: 3px solid #b08f36;
    border-radius: 50%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.uranus .planet{
    background-color: #5580aa;
}

.neptune .planet{
    background-color: #366896;
}


@keyframes orbit {
    to {
        transform: rotate(360deg);
    }
}